.header {
  width: 343px;
  height: 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 24px;
  object-fit: contain;
}

.user {
  height: 24px;
  object-fit: contain;
}